#manatee-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.light-background {
  background-color: #ffffff;
  color: #000000;
}

.dark-background {
  background-color: #000000;
  color: #ffffff;
}
