#manatee-showing {
  display: none;
}

.manatee-image {
  margin: 12px;
  border: 1px solid red;
  padding: 8px;
  background-color: beige;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
  font-family: fantasy;
}

.light-background {
  background-color: #ffffff;
  color: #000000;
}

.dark-background {
  background-color: #000000;
  color: #ffffff;
}

.btn-primary {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}

.btn-primary:hover {
  background-color: red
}
